@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Ink Free";
  src: url("../fonts/Inkfree.ttf");
}

body {
  font-family: "Gotham Light";
}

.logo-giraoslo {
  width: 50%;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 1);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#inicio {
  width: 100%;
  height: 100vh;
  background: url("../img/Fondo_Home.png") top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #inicio {
    background-attachment: fixed;
  }
}

#inicio:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#inicio .inicio-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#inicio h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  color: #000;
  width: 55%;
  font-family: "Gotham";
}

#inicio span {
  font-family: "Ink Free";
}

@media (max-width: 767px) {
  #inicio h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#inicio h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #inicio h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#inicio .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#inicio .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

@media (min-width: 1000px){
  #inicio {
    height: 101vh;
  }
}

/* ------------------------------------------------------------
# PORTAFOLIO 
--------------------------------------------------------------- */

#portafolio {
  padding: 60px 0 40px 0;
  background-color: #fff;
  height: 100vh;
}

#portafolio .container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.carousel-indicators .active {
  background-color: gray;
}

.carousel-indicators li {
  background-color: rgba(128, 128, 128, 0.192);
}

.carousel-indicators {
  z-index: 1;
  top: 16px;
}

#portafolio .icon-left {
  border: 1px solid #000;
  font-size: 20px;
  width: 3em;
  background-color: transparent;
  margin-right: 2.5%;
  cursor: pointer;
}

#portafolio .icon-right {
  border: 1px solid #000;
  font-size: 20px;
  width: 3em;
  background-color: transparent;
  margin-left: 2.5%;
  cursor: pointer;
}

.portafolio-marge-slider {
  margin-left: 10%;
}

.portafolio-line {
  border: 1px solid #000;
  width: 20%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.portafolio-btn {
  background-color: transparent;
  border: 1px solid #000;
  padding: 3%;
  width: 15em;
  margin-top: 10%;
  margin-left: 0.5%;
  text-transform: uppercase;
  cursor: pointer;
}

@media (width: 320px){
  #portafolio {
    padding: 30px 0 40px 0;
 }
}

@media (width: 384px){
  #portafolio {
    padding: 30px 0 40px 0 !important;
 }
}

@media (max-width: 767px) {
  .carousel-movil {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .portafolio-marge-slider {
    margin-left: 0%;
  }

  .carousel-movil h1 {
    font-size: 2em;
  }

  #btns-carousel {
    margin-top: 10%;
  }
}

@media (width: 768px){
  #portafolio {
    height: auto;
    padding: 10% 0 40px 0;
  }
}

@media (width: 1024px){
  #portafolio {
    height: auto;
  }
}

@media (width: 1024px) and (height: 768px){
  #portafolio {
    height: 100vh;
  }
}

@media (width: 1366px){
  #portafolio {
  padding: 10% 0 40px 0;
  height: 93vh;
  }
}

@media (width: 1600px){
  #portafolio {
    padding: 14% 0 40px 0;
    }
}

@media (min-width: 2000px){
  #portafolio {
    padding: 5% 0 40px 0;
    }
}
/* ------------------------------------------------------------
# SERVICIOS
--------------------------------------------------------------- */

#servicios {
  padding: 80px 0 40px 0;
  background-color: #b5cdb9;
  height: 50vh;
}

#servicios .container {
  margin-top: 3%;
}

.servicios-line {
  border: 1px solid #000;
  width: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.columna1 {
  float: left;
  width: 40%;
  text-align: justify;
}

.columna2 {
  float: right;
  width: 40%;
  text-align: justify;
}

#servicios button {
  background-color: transparent;
  border: 1px solid #000;
  font-size: 13px;
  padding: 3%;
  width: 48%;
  position: relative;
  top: 18%;
  cursor: pointer;
}

@media (width:320px) and (height:568px){
  #servicios {
    padding: 40px 0 40px 0 !important;
  }

}

@media (max-width: 767px) {
  #servicios {
    padding: 80px 0 40px 0;
    height: 92vh;
  }

  .servicios-line {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .columna1 {
    text-align: center;
    width: 100%;
    font-size: 1.8em;
  }

  .columna2 {
    text-align: center;
    width: 100%;
    font-size: 1.8em;
  }

  #servicios button {
    margin-top: 5%;
  }
}

@media (width: 768px) {
  #servicios {
    padding: 10px 0 60px 0;
    height: auto;
  }
  .columna1 {
    text-align: center;
    width: 100%;
    font-size: 1.8em;
  }
  .columna2 {
    text-align: center;
    width: 100%;
    font-size: 1.8em;
  }
  #servicios button {
    width: 51%;
    margin-top: 3%;
    font-size: 1.3em;
  }
}

@media (width: 1024px){
  #servicios {
    height: auto;
    padding: 10px 0 60px 0;
  }
}

@media (width: 1600px){
  #servicios {
    padding: 10% 0 40px 0;
    }
}
/* -----------------------------------------------------------------
# CLIENTES
--------------------------------------------------------------------*/

#clientes {
  padding: 40px 0 40px 0;
  background-color: #fff;
  height: 60vh;
}

#clientes .container {
  margin-top: 3%;
}

.clientes {
  text-decoration: line-through;
}

.clientes-line {
  border: 1px solid #000;
  width: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.clientes-marge {
  margin-top: 4%;
  margin-bottom: 4%;
}

.img-margin-display {
  display: block;
  margin: auto;
}

#contacto button {
  cursor: pointer;
}

@media (max-width: 767px) {
  #clientes {
    height: auto;
  }

  .clientes-line {
    width: 20%;
    margin-top: 2%;
  }

  #clientes img {
    margin-bottom: 5%;
  }
}

@media (width: 768px) {
  #clientes {
    height: auto;
  }
}

@media (width: 1024px){
  #clientes {
    height: auto;
    padding: 40px 0 40px 0;
  }
}

@media (width: 1600px){
  #clientes {
    padding: 7% 0 40px 0;
    }
}

/* ------------------------------------------------------------------
#BigPink
--------------------------------------------------------------------*/

#bigpink {
  padding: 60px 0 40px 0;
  background-color: #ffcf26;
  height: 50vh;
}

#bigpink .container {
  margin-top: 3%;
}

.bigpink-logo {
  width: 50%;
}

.bigpink-description {
  text-align: justify;
  display: block;
  margin: auto;
}

#bigpink p {
  width: 80%;
}

#bigpink button {
  margin-top: 2%;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 13px;
  padding: 3%;
  width: 48%;
  position: relative;
  top: 18%;
  cursor: pointer;
  text-transform: uppercase;
}

@media (width: 320px) {
  #bigpink button {
    width: 50%;
  }
}

@media (width: 375px) {
  #bigpink {
    padding: 180px 0 40px 0 !important;
  }
}

@media (width: 411px) {
  #bigpink {
    padding: 180px 0 40px 0 !important;
  }
}

@media (max-width: 767px) {
  #bigpink {
    padding: 120px 0 40px 0;
    height: 92vh;
  }
  #bigpink .container {
    margin-top: -1%;
  }
  #bigpink p {
    margin-top: 5%;
    width: 100%;
  }
}

@media (width: 768px) {
  #bigpink {
    padding: 13% 0 40px 0;
    height: 40vh;
  }
}

@media (width: 1024px){
  #bigpink {
    height: 50vh;
    padding: 20% 0 40px 0;
  }
}

@media (width: 1024px) and (height: 768px){
  #bigpink {
    height: 50vh;
    padding: 7% 0 40px 0;
  }
}

@media (width: 1600px){
  #bigpink {
    padding: 9% 0 40px 0;
    }
}

/* ------------------------------------------------------------------
#Contacto
--------------------------------------------------------------------*/

#contacto {
  padding: 40px 0 40px 0;
  background-color: #fff;
  height: 50vh;
}

#contacto .container {
  margin-top: 2%;
}

.contacto-line {
  border: 1px solid #000;
  width: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.contacto-info {
  margin-bottom: 5%;
}

.contacto-margen {
  margin-top: 5%;
}

#contacto button {
  background-color: transparent;
  border: 1px solid #000;
  font-size: 13px;
  padding: 3%;
  width: 48%;
  position: relative;
  top: 18%;
  text-transform: uppercase;
}

.contacto-siguenos {
  margin-top: 5%;
}

.contacot-redes {
  width: 10%;
  margin-top: 5%;
}

.contacto-instagram {
  margin-left: 5%;
}

.contacto-twitter {
  margin-left: 5%;
}

@media (width: 320px) {
  #contacto {
    padding: 40px 0 40px 0 !important;
  }
}

@media (max-width: 767px) {
  #contacto {
      padding: 80px 0 40px 0;
      height: 92vh;
  }
  .contacto-line {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}

@media (width: 768px) {
  #contacto {
    height: auto;
  }

  #contacto button {
    width: 50%;
  }
}

@media (width: 1024px){
  #contacto {
    height: auto;
  }
}

@media (width: 1600px){
  #contacto {
    padding: 7% 0 40px 0;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #000000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #000000;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer-margen {
  margin-top: 5%;
}

#footer a,
a:hover {
  text-decoration: none;
  color: #fff;
}

@media (width: 320px) {
  #footer img{
    width: 50% !important;
  }
}

@media (max-width: 767px) {
  #footer {
    font-size: 20px;
  }

  #footer .col-md-2,
  .col-md-4 {
    margin-bottom: 3%;
  }

  #footer img {
    width: auto;
  }
}

@media (width: 768px) {
  #footer {
    font-size: 20px;
  }
}

@media (max-width: 999px){
  #footer img{
    width: 50%;
  }
}

@media (min-width: 1000px){
  #footer {
    font-size: 20px;
  }
  #footer img{
    width: 50%;
  }
}
