body,
html {
  margin: 0;

}

html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: myFirsclientes;
  src: url(../Gotham-Bold.otf);
}

@font-face {
  font-family: myFirsclientes;
  src: url(../Gotham-Bold.otf);
  font-weight: bold;
}


@font-face {
  font-family: myFirs;
  src: url(../Gotham-Medium.otf);
}

@font-face {
  font-family: myFirs4;
  src: url(../Gotham-Medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: myFirs4;
  src: url(../Gotham-Bold.otf);
}

@font-face {
  font-family: myFirs;
  src: url(../Gotham-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: myFirs2;
  src: url(../Gotham-Medium.otf);
}

@font-face {
  font-family: myFirs2;
  src: url(../Gotham-Medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: myFirs3;
  src: url(../GothamMediumItalic.ttf);
}

@font-face {
  font-family: myFirs3;
  src: url(../GothamMediumItalic.ttf);
  font-weight: bold;
}

.alineacion{
  text-align: right !important;
  margin-bottom: -60%;
}
.video{
  width:640px; height:480px;
}
.textoglou {
  font-family: myFirsclientes !important;
}
.textonc {
  font-family: myFirsclientes !important;
 }
.textoclientes {
font-family: myFirsclientes !important;
}
.textoclientes1 {
  font-family: myFirsclientes !important;
  }

#textoServicios {
  font-family: myFirs;
}

#textoQuienes {
  font-family: myFirs2;
}
.tex1{
  font-family: myFirs4;
}
.nos {
  padding-top: 10% !important;
}

#listaServicios {
  font-family: myFirs;
}

.tex2 {
  font-family: myFirs2;
}

.contactanos {
  font-family: myFirs2;
}

.infocontactanos2 {
  font-family: myFirs2;
}

.infocontactanos {
  font-family: myFirs2;
}

.creatividad {
  font-family: myFirs3;
}

.cuerpo1 {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 100;
  padding-top: 20%;
  right: 0%;
  margin-right: 7%;

}

.slider {
  width: 100%;
  height: 100%;


}

.infocontactanos {
  text-align: left;
  padding-left: 44%;
  font-size: 24px;
}

.infocontactanos2 {
  text-align: left;
  padding-left: 36%;
  font-size: 24px;
}

#contenedorPrincipal {
  margin-top: 20px;
}

.textC {
  text-align: center;
}

#botonEscribenos {
  float: right;

  width: 194px;
  background: #ffaa00 !important;
  color: black;
}

.button {
  background-color: #ffaa00 !important;
  /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;

}

.button3 {
  padding: 6px 40px;
}

#botonLogo {
  text-align: center;
  position: fixed;
  margin-left: 100px;
  margin-top: 55px;
  z-index: 13 !important;
}

#imagenNosotros {

  padding-left: 8%;


}

#contenedorNosotros {

  margin-left: 20px;

}

#textoQuienes {
  font-size: 3.5em;
  padding-left: 4% !important;
  font-weight: 400;
  text-align: left;
  margin-right: 15%;

}

#eslogan {
  float: right;

}

.imfondog {
  background-image: url('./mesa-01.png');
  background-repeat: no-repeat;
}

.slog {
  padding-top: 25px;
}

.newspaper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-left: 20%;
  padding-right: 20%;
}

#fondoquienes {
  background-image: url("../Assets/fondoquienes.png");
  background-repeat: no-repeat;
}

.backclientes {
  background-image: url("../Assets/fondoquienes2x.png");
  background-repeat: no-repeat;
}

#clientes {
  margin-top: 278px;
  margin-left: 352px;
}

.fondo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.rowNS {
  padding-top: 65%;
}

.uls {
  padding-top: 8%;
}

.imgpricnipal {
  width: 100%;
}

.slidereq {
  padding-left: 50px;
  padding-right: 50px;
}

.pinkfondo {
  width: 100%;
}

.foot {
  background: #626161;
}

.pacueco {
  float: right;
}

#textoServicios1 {
  font-size: 8Em;
  top: 20%;
  padding-left: 4%;
  display: block;
}

#textoServicios {
  font-size: 8Em;
  padding-top: 5%;
  padding-left: 4%;

  display: block;
}

#textoServicios2 {
  font-size: 8Em;
  padding-top: 5%;
  padding-left: 10%;

  display: block;
}

#textoContacto {
  font-size: 36px;
  margin-top: 50px;
  margin-left: 12%;


}

#textoServicios2 {
  font-size: 36px;
  padding-left: 10%;

}

.object {
  position: absolute;
}

.van {
  top: 45%;
  left: 44%;
}

#listaServicios {
  list-style: none;
  font-size: 6em;
  padding-left: 5%;

}

.break-word {
  word-break: break-all;
  hyphens: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../Assets/menu.png");
  background-repeat: no-repeat;
  background-color: #F7F7F6;
  background-size: 100% 100%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.imfondo {
  background-image: url("../Assets/00PNG-16.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}



.sidenav a:hover {
  color: black;

}

.divcont {
  color: black;
}

.divcont .p:hover {
  background-color: #FFAA00;
  width: 5px;
}

.con {
  padding-top: 5% !important;
  padding-left: 10% !important;
  padding-bottom: 5% !important;
}

.clasebtn {
  font-size: 80px !important;
  padding-top: 18% !important;
  padding-left: 3% !important;
}

.opcmenu {
  padding-left: 17% !important;
  text-align: left !important;
  padding-top: 15% !important;
}

.menubigpink {
  text-align: left;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  font-size: 40px !important;
  padding-top: 15%;

  margin-left: 3%;
  z-index: 130;
}

.rowx {
  margin-left: 0px !important;
}

.girasolo {
  text-align: left;
  margin-left: 7%;
  font-size: 24px;
  padding-top: 2px;
}

.contenidomenu {
  text-align: left;
  margin-left: 10%;
  padding-top: 5% !important;
}

.contenidomenu2 {
  text-align: left;
  margin-left: 10%;
  padding-top: 15%;
  padding-bottom: 5%;
}

.x {
  font-size: 80px;
  padding-top: 18%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.menu {
  margin-left: 4%;
  padding-top: 25%;
  padding-left: 0px;
  position: fixed;
  padding-top: 20%;
  z-index: 12;
  font-size: 60px;
  cursor: pointer;
}

/**/
.row1 {
  display: -ms-flexbox;
  display: flex;
  margin-left: 140px;
  margin-right: 140px;

}

.clie {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  padding-bottom: 15%;

}

.paddings {
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.row2 {
  padding-right: 0% !important;
  padding-left: 0% !important;
}

#espacio {
  height: 250px;


}

#espacio2 {
  height: 500px;


}

.container1 {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.clientes {

  display: flex;
}

.equipo {
  font-size: 46px;
  float: left;
  padding-left: 10%;
  padding-top: 20px;
}

.equiposlider {
  border: #FFAA00;
  border-style: solid;


}

/*clientes*/
.red {
  color: #FFFF02;
  font-size: 26px;
  padding-top: 70px;
  background-color: #159667;
  display: block;

}

.nc {
  background-color: #DDBF40;
  color: #C000FF;
  font-size: 24px;
  padding-top: 70px;
}

.lerma {

  color: #0000FF;
  font-size: 22px;
  padding-top: 70px;
  background-color: #EFC2CD;

}

.delta {
  background-color: #E0C4DE;
  color: #FF0041;
  font-size: 26px;
  padding-top: 70px;
}

.fsm {

  background-color: #62CEE3;
  color: #BFFF02;
  font-size: 24px;
  padding-top: 70px;
}

.glouu {
  background-color: #E8744A;
  color: #01FFFF;
  font-size: 22px;
  padding-top: 70px;
}

.lapisa {
  background-color: #B1DE76;
  color: #FF4000;
  font-size: 24px;
  padding-top: 70px;
}

.cochi {
  background-color: #F35848;
  color: #FFFF02;
  font-size: 22px;
  padding-top: 70px;
}

.nobi {
  background-color: #F7D732;
  color: #4000FF;
  font-size: 26px;
  padding-top: 70px;
}

.dadbox {
  background-color: #7A448B;
  color: #00FFC0;
  font-size: 24px;
  padding-top: 70px;
}

.textoclientes {
  padding-top: 5%;
  text-align: center;
}

.textoclientes1 {
  padding-top: 45%;
  text-align: center;
}

/*contenedor*/
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;

}


.break-word {
  word-break: break-all;
}


@media only screen and (min-device-width: 240px) and (max-device-width: 600px) {
  .tex1 {
    text-align: left;
    line-height: 1;
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-bottom: 30px;
    font-size: 14px;
}

  .tex2 {
    display: none !important;
    text-align: left;
    font-size: 36px;
    padding-top: 10%;
    line-height: 1;
  }

  .centrado {
    position: initial;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
  }
}

@media only screen and (min-device-width: 601px)

/*and (max-device-width: 1280px)*/
  {
  .tex1 {
    display: none;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 26px;
  }

  .centrado {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

  }

  .tex2 {
    font-size: 10px;
    padding-top: 32%;
    padding-bottom: 20%;
    text-align: left;
  }
}



.bigpinkimagen {
  width: 100%;
}

.backg {
  background: #FDEB00;
}

.pink {
  color: #FE2E9A;
}

/*contactanos*/
.italic {
  font-style: italic;
}

.contactanos {
  font-size: 46px;
  padding-left: 5%;
  color: #FFAA00;
}

.opc {
  color: black;
}

.opc:hover {
  text-shadow: 2px 2px 6px #FFAA00;
}

a.ex3:hover,
a.ex3:active {
  background: #F6A713;
}

.divS {
  background-color: white;
  padding: 20px;

  display: none;
}

.imgServicios {
  width: 80%;
  
}

span:hover+.divS {
  display: block;
}

.imgclientes {
  width: 100%;


}

.soc {
  padding: 10px;
}

.p3 {
  color: #111;

}

.p3:hover {
  color: #FFAA00;
}

.contac {
  margin-left: 25px;
  margin-right: 25px;
}

/*footer*/
/*overlay*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  width: 100% !important;
  opacity: 0;
  transition: .3s ease;
  background-color: white;

}

.icon {
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon2 {
  width: 20px;
}

.container1:hover .overlay {
  opacity: 1;
}

.back {
  /* background-image: url("./PNG/mesa-01.png");*/
  background-repeat: no-repeat;


}

/*Efecto blanco y negro*/
.imgbn {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/**/
/*--giras olo*/

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.imgr {
  -webkit-animation: 5s rotate linear infinite;
  animation: 5s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#imgr2 {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.dic {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  -webkit-animation: mymove 10s infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation: mymove 10s infinite;
  animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

/**/
.imgr {
  -webkit-animation: 30s rotate reverse infinite;

  animation: 30s rotate reverse infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#imgr2 {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.imgsliderimg {
  width: 200%;
  height: 200%;
}

.imgslider {
  -webkit-animation-duration: 20s !important;
  -webkit-animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 50%;
    width: 50%;
  }
}

/**/
.rigth {
  position: inherit;
  margin-right: 38%;
}

/*--giras olo*/

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.imgr4 {
  -webkit-animation: 20s rotate linear infinite;
  -webkit-animation: 20s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#imgr4 {
  -webkit-animation-direction: normal;
  animation-direction: reverse;
}

.imggirasol {
  height: 30%;
  width: 30%;
  float: right;

  margin-bottom: -65px;
  z-index: 1;
}

.logosimg1 {
  width: 50%;
}

/**/

.im1 {
  width: 60%;

  padding-top: 16%;
}

.im2 {
  width: 60%;
  padding-top: 20%;
}

.im3 {
  width: 60%;
  padding-top: 20%;
}

.im4 {
  width: 60%;
  padding-top: 20%;
}

.im5 {
  width: 50%;
  padding-top: 10%;
}

.im6 {
  width: 38%;
  padding-top: 5%;
}

.im7 {
  width: 60%;
  padding-top: 15%;
}

.im8 {
  width: 60%;
  padding-top: 10%;
}

.im9 {
  width: 45%;
  padding-top: -5%;
}

.im10 {
  width: 50%;
  padding-top: 10%;
}
.textoglou{
  padding-top:5%; 
  text-align: center;
}

.textofsm{
  padding-top:5%;
  text-align: center;
}
.textonc{
  padding-top:5%;
  text-align: center;
}

.centrado1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.bp{
  margin-bottom: -187%;
    margin-left: 28%;
    width:100%;
}